.hudpl-container
{
    position: absolute; 
    left: 4rem; 
    top: 100px;
    width: 15rem;
    height: auto; 
    opacity: 0;
}
  
@keyframes hudplRotateIn {
    from {
        transform:  perspective(1000px) rotateY(-0deg) translateX(-20rem);
        opacity: .0;
      }
      to {
        transform:  perspective(1000px) rotateY(+15deg) translateX(0) translateZ(50px);
        opacity: .5;
    }
  }


@keyframes hudplRotateOut {
  to {
      transform:  perspective(1000px) rotateY(-0deg) translateX(-20rem);
      opacity: .0;
    }
    from {
      transform:  perspective(1000px) rotateY(+15deg) translateX(0) translateZ(50px);
      opacity: .5;
  }
}
