
.hudtr-container
{
    position: absolute; 
    right: 4rem; 
    top: 100px;
    width: 22rem;
    height: 15rem;
    max-width: 50%;
}

.number-circle {
  width: 2em;
  line-height: 1.8em;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  border: 1px solid #FFF;
  margin: 0 auto;
}
  
  
  @keyframes hudtrRotateIn {
    from {
        transform:  perspective(1000px) rotateY(-0deg) translateX(+20rem);
        opacity: .0;
      }
      to {
        transform:  perspective(1000px) rotateY(-15deg) translateX(0) translateZ(50px);
        opacity: .5;
    }
  }

  
  @keyframes hudtrRotateOut {
    to {
        transform:  perspective(1000px) rotateY(-0deg) translateX(+20rem);;
        opacity: .0;
      }
      from {
        transform:  perspective(1000px) rotateY(-15deg) translateX(0) translateZ(50px);
        opacity: .5;
    }
  }

  