

.planet {
    transition: transform 1s ease;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    position: absolute;
    left: calc( 50vw - 255px );
    top: calc( 50vh - 255px );
  }
  
  .planet:before {
    content: "";
    width: 1024px;
    height: 1024px;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode:soft-light;
    z-index: 100;
  }
  
  .planet:after {
    content: "";
    width: 1024px;
    height: 1024px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: inset 25px 40px 100px 0px rgba(255, 255, 255, 0.45);
  }
  
  .planetClip {
    width: 1024px;
    height: 1024px;
    border-radius: 50%;
    position: relative;
    -webkit-clip-path: circle(512px at 512px 512px); 
            clip-path: circle(512px at 512px 512px); 
  } 
  
  .terrain {
  
    width: 4096px;
    height: 1024px;
    position: absolute;
    mix-blend-mode: soft-light;
    opacity: 0.5;
  }
  
  
  @keyframes rotatePlanet {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  } 

  