  
  .map-wrapper {
    width: 100vw;
    position: absolute;
    height: 100vh;
  }
  
  .map-wrapper {
    overflow-x: hidden;
  }
  
  .msystem-wrapper {
    display: inline-block;
    padding: 0 2.5rem;
    overflow-y: hidden;
    vertical-align: top;
    overflow-x: hidden;
  }
  
  .msystem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.1rem;
    color: #fff;
    background-color: #568;
    transform: scale(0);
    transform-origin: top center;
  }

   .msysname {
    left: 0.5rem;
    bottom: 0;
    font-size: .75rem;
    color: #ffffffa0;
  } 
  
  .mplanet {
    position: absolute;
    display: block;
    border-radius: 50%;
    opacity: 0;
}

  .mname {
    position: absolute;
    bottom: -1.2rem;
    left: 1rem;
    font: monospace;
  }

  @keyframes scaleUpMap {
    to {
      transform: scale(1);
    }
  }

  @keyframes scaleDownMap {
    to {
      transform: scale(0);
    }
  }


  @keyframes slideInMap {
    from {
      transform: translateY(-10rem);
      opacity: 0;
    }
    to {
      transform: translateY(0rem);
      opacity: 1;
    }
  }

  @keyframes slideOutMap {
    to {
      transform: translateY(-10rem);
      opacity: 0;
    }
    from {
      transform: translateY(0rem);
      opacity: 1;
    }
  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  color: rgba(255,255,255,.7);
  text-align: left;
  margin-left: 1.5rem;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  